<!DOCTYPE html>
<html>
<head>
  <title>Trekbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <script
      async="true"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtYLxe36ZACT2bRLmcefUJ_EG2Nzm7n04&libraries=places&callback=googleMapsCallback">
  </script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      update_preset: "<%=  %>",
      cloud_name: "<%=  %>"
    };
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
